header {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: #000000;
}

nav {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding-bottom: 70px;
}

body {
    font-family: "Times New Roman", Times, serif;
    color: black;
    background-color: #ffffff;
}


footer {
    font-family: "Times New Roman", Times, serif;
    color: #000000;
    text-align: center;
}


.AboutMe{
    padding-left: 130px;
    padding-right: 130px;
    text-align: justify;
}
