header {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: #000000;
}

.h2_index {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: #000000;
}

nav {
    font-family: "Times New Roman", Times, serif;
    height: 40px;
}

.ul_nav {
    margin: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    font-family: "Times New Roman", Times, serif;
    color: black;
    background-color: #FAF9F6;
}


footer {
    font-family: "Times New Roman", Times, serif;
    color: #000000;
    text-align: center;
}


.AboutMe{
    padding-top: 40px;
}
