header {
    text-align: center;
}

h1 {
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
}

figure {
    border: thin #c0c0c0 solid;
    display: inline-block;
    padding: 5px;
    max-width: 220px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 10px;
    text-align: center;
}


.img_self {
    max-width: 220px;
    max-height: 150px;
    float: left;
}

.img_project {
    max-width: 220px;
    max-height: 150px;
    float: right;
}

hr {
    margin-top: 35px;
    width: 80%;
    margin-bottom: 35px;
}

.AboutMe {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

body {
    font-family: "Times New Roman", Times, serif;
    color: black;
    background-color: #ffffff;

}

footer {
    color: #000000;
    text-align: center;
}